.bg-dark {
    background-color: #2A2D43 !important;
}
.navbar {
    height: 80px;
    color: white;

}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; 
    min-width: 114px;
    padding: 0px;
    /* box-shadow: 0px 8px 16px 0px rgba(14, 11, 64, 0.2); */
    margin-left: -23px;
    z-index: 1;
    border-radius:5px;  
  }
  
  .dropdown-content #h1 {
    float: none;
    color: black;
    padding: 12px 26px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: #e0e8f3;
    border-radius: 5px;
  }
  

  .dropdown-content #h2 {
    float: none;
    color: black;
    padding: 12px 26px;
    text-decoration: none;
    display: block;
    text-align: left;
    background: #395dff;
    border-radius: 5px;
    margin-top: 1px;
  }
  .dropdown-content #h1:hover {
    background-color: #ddd;
  }
  .dropdown-content #h2:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }