<div class="description-area">
    <div class="row">
        <div class="col-6 border-class">
            <div class="logo-area">
                <img src="../../../../../../assets/createtradelogo.svg" alt="">
            </div>
            <div class="text-area">
                <div class="lead-unit">
                    1 ETH = 1000 TWZ
                </div>
                <div class="unit">
                    1 ETH = 254.05 USD
                </div>
            </div>
        </div>
        <div class="col-6 content-area">
            <div class="content-area-align">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Token Name: 
                            </td>
                            <td class="table-blue">
                                Token Wiz
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Ticket Symbol:
                            </td>
                            <td class="table-blue">
                                TWZ
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary"><fa-icon [icon]="['fa','download']"></fa-icon> Download Manager</button>
            </div>
            
        </div>
    </div>
</div>