.token-area {
    background: linear-gradient(to right, #1F6BD4, rgb(38, 129, 255) );
    border-radius: 5px;
    color: white;
    height: 100%;
    padding: 25px 30px;

    .heading {
        color: #74fffa;
        font-size: 13px;
        font-weight: 500;
    }
    .lead {
        font-size: 25px;
        font-weight: 600;
        .unit {
            font-size: 15px;
        }
    }
    .lead-contribution {
        font-size: 20px;
        font-weight: 500;
    }
    .unit-contribution {
        font-size: 13px;
    }
    
}