<div class="token-area">
    <div class="row">
        <div class="col-3">
            <img src="../../../../../../assets/createtradelogo.svg" alt="">
        </div>
        <div class="col-9">
            <div class="heading">
                TOKENS BALANCE
            </div>
            <span class="lead">
                120,000,000 <span class="unit">TWZ</span>
            </span>
        </div>
    </div>
    <div class="heading">
        YOUR CONTRIBUTION
    </div>
    <div class="row">
        <div class="col-4">
            <div class="lead-contribution">
                2.646
            </div>
            <div class="unit-contribution">
                ETH
            </div>
        </div>
        <div class="col-4">
            <div class="lead-contribution">
                2.646
            </div>
            <div class="unit-contribution">
                BTC
            </div>
        </div>
        <div class="col-4">
            <div class="lead-contribution">
                2.646
            </div>
            <div class="unit-contribution">
                LTC
            </div>
        </div>
    </div>
</div>
