.container-custom {
    background-color: white;
    border-radius: 5px;
    h6 {
        color: #253992;
    }
}
.status-buttons {
    font-size: 15px !important;
    padding: 3px 10px !important;
    font-weight: 400;
}
.wallet-text {
    color: grey;
    overflow: hidden;
    
}