<form action="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 form-group">
                <label for="">Old Password</label>
                <input class="form-control" type="password" name="" id="" placeholder="">
            </div>
            <div class="col-md-6 col-12">
    
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="">New Password</label>
                <input class="form-control" type="password" name="" id="" placeholder="">
            </div>
            <div class="col-md-6 col-12 form-group">
                <label for="">Re-type Password</label>
                <input class="form-control" type="password" name="" id="" placeholder="">
            </div>
            <div class="form-group col-12">
                <button type="submit" class="btn btn-primary">Update Password</button>
            </div>
        </div>
    </div>
    
</form>