<div class="container">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <app-detail-pro></app-detail-pro>
                    </div>
                    <div class="col-12">
                        <app-vfy-pro></app-vfy-pro>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <app-status-pro></app-status-pro>
                    </div>
                    <div class="col-12">
                        <app-referral-pro></app-referral-pro>
                    </div>
                    <div class="col-12">
                        <app-id-vfy-pro></app-id-vfy-pro>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
